<% content_for :subtitulo do %>
  Cambiar Contraseña
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :nueva_contraseña %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :confirmar_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :contraseña_actual %> <i>(Ingrese su contraseña actual para actualizar sus datos)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div><br>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>
