<% content_for :subtitulo do %>
  Orden Número: <%= @pedido.codigo %>
<% end %>

Orden Número: <%= @pedido.codigo %><br>
<hr>
Elaborado por: <%= @pedido.user.nombre %> <%= @pedido.user.apellidos %><br>
<hr>
Solicitado por:<br>
<%= @pedido.departamento.titular %><br>
<%= @pedido.departamento.nombre %><br>
<hr>

Fecha del Pedido: <%= @pedido.created_at %>
<hr>

<table class="table table-bordered">
  <thead>
    <th>Codigo Producto</th>
    <th>Descripcion</th>
    <th>Solicitado</th>
    <th>Surtido</th>
  </thead>
  <tbody>
    <% @pedido.enviarpedidos.each do |detalles_pedido| %>
      <tr>
        <td> <%= detalles_pedido.articulo.codigo %> </td>
        <td> <%= detalles_pedido.articulo.descripcion %></td>
        <td> <%= detalles_pedido.solicitado %> </td>
        <td> <%= detalles_pedido.surtido %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

  <%= link_to pedido_path(@pedido, :format => 'pdf'), class: "btn btn-primary", :target => "_blank" do%>
    <i class="glyphicon glyphicon-print"></i> Imprimir Pedido
  <% end %>
</div>
