<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li class="text-center">
        <%= image_tag ('rails.png'), :class => 'user-image img-responsive' %>
      </li>
      <li>
        <%= link_to root_path, method: :get do%>
          <i class="glyphicon glyphicon-home glyphicon3x"></i> Inicio
        <% end %>
      </li>
      <li>
        <%= link_to articulos_path do%>
          <i class="glyphicon glyphicon-paperclip glyphicon3x"></i> Artículos
        <% end %>
      </li>
      <li>
        <%= link_to categorias_path do%>
          <i class="glyphicon glyphicon-pushpin glyphicon3x"></i> Categorías
        <% end %>
      </li>
      <li>
        <%= link_to pedidos_path do%>
          <i class="glyphicon glyphicon-book glyphicon3x"></i> Pedidos
        <% end %>
      </li>
      <li>
        <%= link_to departamentos_path do%>
          <i class="glyphicon glyphicon-th glyphicon3x"></i> Departamentos
        <% end %>
      </li>
    </ul>
  </div>
</nav>
