<% content_for :subtitulo do %>
  Crear Articulo
<% end %>

<div class="col-md-6 well">
  <%= form_for(@articulo) do |f| %>

  <% if @articulo.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><center>!Error al crear el Articulo!</center></h2>

      <ul>
      <% @articulo.errors.each_with_index do |msg| %>
        <li><%= msg[1] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :codigo, class: "control-label" %>
    <%= f.text_field :codigo, class: "form-control" %>

    <%= f.label :descripcion, class: "control-label" %>
    <%= f.text_field :descripcion, class: "form-control" %>

    <%= f.label :cantidad_disponible, class: "control-label" %>
    <%= f.text_field :existencia, class: "form-control" %>

    <%= f.label :categoria, class: "control-label" %><br>
    <%= f.collection_select(:categoria_id, Categoria.all, :id, :nombre, prompt: "Seleccione una categoría") %>
    <br><br>

    <%= button_tag( :class => "btn btn-success") do %>
      <i class="glyphicon glyphicon-floppy-disk"></i> Guardar
    <% end %>
    <%= link_to articulos_path, class:"btn btn-primary" do%>
    <i class="glyphicon glyphicon-repeat"></i> Regresar
    <% end %>


  <% end %>
</div>
